@model IEnumerable<DataObject.Item>

@{

    ViewBag.Title = "Available Medecines";
}
<div style="margin: 50px; ">

    <h2>@ViewBag.Title</h2>

    <div>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Create New", "Create") @Html.Name(" | ") @Html.ActionLink("Manage Deleted", "Manage")
        }
    </div>
    <hr />
    <table id="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OnStock)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Strength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnStock)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ItemId })
            @if (User.IsInRole("Admin"))

            {
                @Html.Name(" | ") @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) @Html.Name(" | ") @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })

            }

        </td>
    
        
  
    
          

    

    </tr>
}

 </table>
 </div>