@model DataObject.Item

@{ ViewBag.Title = "Reactivate";
    var imagePath = "/Content/Photos/" + @Model.Picture;
}

<div style="margin-top : 70px; margin-left:70px; ">

    <div style="float:left ; width:50%;">
        <br />
        <h3>Are you sure you want to Reactivate this?</h3>
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Strength)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Strength)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Picture)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Picture)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OnStock)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OnStock)
                </dd>

            </dl>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="submit" value="Reactive" style="width : 100px;" />
            }
        </div>
    </div>
    <div style="float:right; width:50%; max-height:25%;">

        <img src=@imagePath style="max-width:95%;float:left; padding:5%;" />

    </div>
    <p style="clear: left" ;>
        @Html.ActionLink("Back to List", "Manage")
    </p>
</div>